body{
    margin: 0;
    padding: 0;
}
.box{
    width: 900px;
    height: 600px;
    background-color: lightgray;
    /*margin: auto;*/
    float: left;
}
.box1{
    width: 800px;
    height: 500px;
    background-color: red;
    margin: 55px 55px 55px 55px;
}
.box2{
    width: 700px;
    height: 400px;
    background-color: blueviolet;
    margin: 50px;
}
.box3{
    width: 600px;
    height: 300px;
    background-color: lightcoral;
    margin: 50px;
}
.box4{
    width: 500px;
    height: 200px;
    background-color: black;
    margin: 50px;
}
.box5{
    width: 400px;
    height: 100px;
    background-color: lightblue;
    margin: 50px;
}