body,html{
    height: 100%;
}
.container{
    max-width: 1000px;
    margin: auto;
    display: flex;
    flex-direction: column;
    min-height: 100%;
    background-color: lightgreen;
}
.container > * {
    padding: 0 1em;
}
header,footer{
    background-color: lightskyblue;
    display: flex;
    height: 70px;
    justify-content: space-between;
}
footer{
    margin-top: auto;
}

.leftHeader{
    background-color: blue;
    height: 70px;
    min-width: 300px;
}
.mainHeader{
    background-color: lightseagreen;
    height: 70px;
    min-width: 300px;
}
.rightHeader{
    background-color: violet;
    height: 70px;
    min-width: 300px;
}
main{
    display: flex;
}
main aside{
    margin-right: 40px;

}