body{
    margin: 0;
    padding: 0;
}
.topHeader{
    width: 100%;
    height: 40px;
}
.container{
    width: 80%;
    margin: auto;
}
.top-left{
    width: 50%;
    float: left;
    line-height: 40px;
    justify-content: space-between;
}
.top-left .fa{
    color: red;
    font-size: 12px;
}
.top-right{
    width: 50%;
    float: right;
    line-height: 40px;
    text-align: end;
}
.top-right .fa{
    color: blue;
    min-width: 50px;
}
.header{
    width: 100%;
    height: 50px;
    display: flex;
}
.companyName{
    width: 20%;
}
.menu{
    width: 60%;
}
.appointment{
    width: 20%;
}
