.box{
    height: 50px;
    width: 100%;
    background-color: lightblue;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    
}

@media (max-width: 768px){
    .box{
        display: flex;
        flex-direction: column;
    }
    .login{
        display: flex;
        flex-direction: column;
    } 
}
