body{
    margin: 0;
    padding: 0;
}
.container{
    width: 80%;
    margin: auto;
    background-color: lightgray;
}
p{
    margin: 0;
    font-family: sans-serif;
    font-size: 20px;
    letter-spacing: 1px;
    word-spacing: 8px;
    text-indent: 57px;
    color: blue;
    line-height: 30px;
    font-weight: 700;
    /*text-transform: capitalize;*/
    /*font-family: 'Oswald', sans-serif;*/
    /*writing-mode: vertical-rl;*/
    /*text-decoration: underline;*/
}